<h5 class="font-weight-bold mb-0 mt-2">Custom Recipes</h5>
<h6 class="font-weight-bold mb-3 small">your custom recipes</h6>


<div class="rounded p-2 mb-5">
    <div *ngIf="!recipes.length">
        <p class="lead text-secondary">
            Nothing here yet. Search for recipes and add them to your favorites.
        </p>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-3" *ngFor="let recipe of recipes">
            <recipe-card [recipe]="recipe" [showRemoveButton]="true" (removeButtonClicked)="removeCustomRecipe(recipe)"></recipe-card>
        </div>
    </div>
</div>

<!-- Floating Action Button -->
<a class="floating-action-button fab-blue active d-md-none" routerLink="/recipes/create-recipe"><i class="fad fa-bookmark fa-plus fa-fw"></i></a>
