<div class="py-3">

    <input class="form-control" [(ngModel)]="query" (ngModelChange)="searchFood()" >

    <div *ngIf="searchResults" class="mb-2">
            <div  class="d-flex justify-content-between border p-2 rounded mb-2" *ngFor="let food of searchResults" (click)="saveFood(food)">
                <span class="align-middle justify-content-center">
                    {{food.id}}: {{food.name}}
                </span>
                <span class="align-middle text-primary" (click)="addFoodToShoppingList(food)">
                    <i class="fa fa-cart-plus"></i>
                </span>
            </div>
    </div>

    <div *ngIf="savedFoods.length">
        <p class="mb-2">Saved Ingredients:</p>
        <div class="d-flex justify-content-between border p-2 rounded mb-2" *ngFor="let food of savedFoods">
            <span class="align-middle justify-content-center">
                {{food.name}}
            </span>
            <span class="align-middle text-danger" (click)="removeFood(food)">
                <i class="fal fa-times"></i>
            </span>
        </div>
    </div>

    <div *ngIf="savedFoods.length">
        <a class="btn btn-primary d-block" routerLink="/recipe/find-recipe">Find Recipes</a>
    </div>
</div>
