<h5 class="font-weight-bold mt-2">Favourite Recipes</h5>

<div *ngIf="!favoriteRecipes.length" class="bg-white rounded p-2 shadow-sm">
    <p class="lead text-secondary">
        Nothing here yet. Search for recipes and add them to your favorites.
    </p>
</div>

<div class="rounded p-2 mb-5">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-3" *ngFor="let recipe of favoriteRecipes">
            <recipe-card [recipe]="recipe" [showRemoveButton]="true" (removeButtonClicked)="removeFavoriteRecipe(recipe)"></recipe-card>
        </div>
    </div>
</div>



