<h5 class="font-weight-bold mb-0 mt-2">Custom Recipes</h5>
<hr/>
<!--maybe only show the name then click to expand to view the rest?-->
<div class="d-block border text-sm p-2 text-dark mb-2" *ngFor="let recipe of customRecipes">

    <span class="text danger pl-3 float-right"(click)="removeRecipe(recipe)" >
        <i class="fad fa-times fa-fw"></i>
    </span>
    
    <strong>{{recipe.name}}</strong><br/>
    Ingredients: 
    <ul *ngFor="let key of Object.keys(recipe.ingredients)">
        <li> {{recipe.ingredients[key].name}}-({{recipe.ingredients[key].quantity}})</li>
    </ul>
    
    Instructions: 
    <ol>
        <li *ngFor="let instruction of recipe.instructions">
            {{instruction}}
        </li>
    </ol>

    <p>Cook Time: {{recipe.cookTimeMinutes}} minutes</p>
    <p>Preparation Time: {{recipe.preparationTimeMinutes}} minutes</p>
    <p>Servings: {{recipe.servings}}</p>
</div>

<!-- Floating Action Button -->
<a class="floating-action-button fab-blue active d-md-none" routerLink="/recipe/add-recipe"><i class="fad fa-bookmark fa-plus fa-fw"></i></a>