<div *ngIf="recipe">
    <div *ngIf="recipe.imageUrl" class="row" style="height: 150px; background-size: cover; background-position: center;" [style.backgroundImage]="'url('+ recipe.imageUrl +')'">
        &nbsp;
    </div>

    <div class="d-flex justify-content-between align-items-center mt-2">
        <div>
            <h5 class="font-weight-bold">{{recipe.name}}</h5>
            <h6>by <strong>{{recipe.author}}</strong></h6>
        </div>

        <button *ngIf="isFavorite" (click)="toggleFavoriteRecipe(recipe)" class="d-none d-md-block btn btn-danger float-right">
            Remove from Favorites
        </button>
        <button *ngIf="!isFavorite" (click)="toggleFavoriteRecipe(recipe)" class="d-none d-md-block btn btn-success float-right">
            Add to Favorites
        </button>
    </div>

    <table class="mb-3">
        <tr>
            <td>Preparation Time:</td>
            <td>{{recipe.preparationTimeMinutes}} min</td>
        </tr>
        <tr>
            <td>Cook Time:</td>
            <td>{{recipe.cookTimeMinutes}} min</td>
        </tr>
    </table>

    <h6 class="font-weight-bold mt-2">Ingredients (serves {{recipe.servings}})</h6>
    <div *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.food.name}}
    </div>

    <h6 class="font-weight-bold mt-2">Instructions</h6>
    <ul *ngFor="let instruction of recipe.instructions">
        <li>{{instruction}}</li>
    </ul>
</div>

<div class="row mt-3" *ngIf="recipe">
    <div *ngIf="!isCustomRecipe" class="col-sm-3 mb-2">
        <a routerLink="/recipes/find-recipe" class="btn btn-secondary w-100">Back to Recipes</a>
    </div>
    <div *ngIf="isCustomRecipe" class="col-sm-3 mb-2">
        <a routerLink="/recipes/custom-recipes" class="btn btn-secondary w-100">Back to Custom Recipes</a>
    </div>
    <div class="col-sm-3 mb-2">
        <a href="{{recipe.recipeUrl}}" class="btn btn-primary w-100">View Original</a>
    </div>
    <div class="col-sm-3 mb-2">
        <button (click)="addIngredientsToShoppingList(recipe)" class="btn btn-warning w-100">Add to Shopping List</button>
    </div>
    <div *ngIf="!isCustomRecipe" class="col-sm-3 mb-2">
        <a [routerLink]="['/recipes/edit-recipe', recipe.id]" class="btn btn-warning w-100">Customize this Recipe</a>
    </div>
</div>

<div *ngIf="recipe && !isCustomRecipe" class="floating-action-button fab-yellow d-md-none" [class.active]="isFavorite" (click)="toggleFavoriteRecipe(recipe)">
    <i class="fad fa-bookmark fa-fw"></i>
</div>

<div *ngIf="recipe && isCustomRecipe" class="floating-action-button fab-yellow d-md-none active" [routerLink]="['/recipes/edit-recipe', recipe.id]">
    <i class="fad fa-pencil fa-fw"></i>
</div>


