<h1>Shopping List</h1>
<div class="py-3">
    <input class="form-control" [(ngModel)]="query" (ngModelChange)="searchFood()">

    <div *ngIf="searchResults" class="mb-2">
        <div class="d-flex justify-content-between border p-2 rounded mb-2" *ngFor="let food of searchResults"
            (click)="addFoodToShoppingList(food)">
            <div class="align-middle justify-content-center">
                {{food.id}}: {{food.name}}
            </div>
        </div>
    </div>
    <div>
        <a class="d-flex justify-content-between border p-2 rounded mb-2" *ngFor="let item of shoppingListItems">
            <span>
                <strong>{{item.description}}</strong><br />
            </span>

            <span class="align-middle text-danger" (click)="removeFromShoppingList(item)">
                <i class="fal fa-times"></i>
            </span>
        </a>
    </div>

</div>

<!-- Floating Action Button -->
<!-- <button (click)="showAddShoppingItemForm()">
    <i class="fal fa-plus fa-fw"></i>
</button> -->