<div class="bg-white">
	<div class="container">
		<a class="navbar-brand" [routerLink]="['/']">
			<i class="fad fa-soup"></i>
			Bystro
		</a>
	</div>
</div>
<nav class="navbar navbar-light p-0 nav-primary bg-white sticky-top">
	<div class="container">
		<ul class="nav d-flex w-100 justify-content-between justify-content-md-start">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<span class="d-md-none small">
						<i class="fad fa-home fa-2x"></i>
					</span>
					<span class="d-none d-md-block">
						<i class="fad fa-home"></i>
						Home
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/recipe/find-recipe']" routerLinkActive="active">
					<span class="d-md-none small">
						<i class="fad fa-hat-chef fa-2x"></i>
					</span>
					<span class="d-none d-md-block">
						<i class="fad fa-hat-chef"></i>
						Recipes
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/fav-recipes']" routerLinkActive="active">
					<span class="d-md-none small">
						<i class="fad fa-crown fa-2x"></i>
					</span>
					<span class="d-none d-md-block">
						<i class="fad fa-crown"></i>
						Favourites
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="active">
					<span class="d-md-none small">
						<i class="fad fa-shopping-basket fa-2x"></i>
					</span>
					<span class="d-none d-md-block">
						<i class="fad fa-shopping-basket"></i>
						Shopping List
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/notifications']" routerLinkActive="active">
					<span class="d-md-none small">
						<i class="fad fa-bell fa-2x"></i>
					</span>
					<span class="d-none d-md-block">
						<i class="fad fa-bell"></i>
						Notifications
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/menu']" routerLinkActive="active">
					<span class="d-md-none small">
						<i class="fad fa-bars fa-2x"></i>
					</span>
					<span class="d-none d-md-block">
						<i class="fad fa-bars"></i>
						Others
					</span>
				</a>
			</li>
		</ul>
	</div>
</nav>