<div id="bystro-backdrop">a</div>
<div class="bystro-menu">
    <div class="container py-3">
        <div class="row">

            <a routerLink="/recipes/favorite-recipes" class="col col-md-6 col-xl-4">
                <div class="bystro-menu-item d-flex bg-white shadow-sm rounded">
                    <div class="d-flex align-items-center px-2">
                        <i class="fad fa-book-heart fa-fw fa-3x"></i>
                        <h3 class="mb-0 ml-3">Favorite Recipes</h3>
                    </div>
                </div>
            </a>

            <a routerLink="/recipes/custom-recipes" class="col col-md-6 col-xl-4">
                <div class="bystro-menu-item d-flex bg-white shadow-sm rounded">
                    <div class="d-flex align-items-center px-2">
                        <i class="fad fa-hammer fa-fw fa-3x"></i>
                        <h3 class="mb-0 ml-3">Custom Recipes</h3>
                    </div>
                </div>
            </a>

            <a routerLink="/recipes/find-recipe" class="col col-md-6 col-xl-4">
                <div class="bystro-menu-item d-flex bg-white shadow-sm rounded">
                    <div class="d-flex align-items-center px-2">
                        <i class="fad fa-search fa-fw fa-3x"></i>
                        <h3 class="mb-0 ml-3">Find Recipes</h3>
                    </div>
                </div>
            </a>

            <a routerLink="/spice-rack" class="col col-md-6 col-xl-4">
                <div class="bystro-menu-item d-flex bg-white shadow-sm rounded">
                    <div class="d-flex align-items-center px-2">
                        <i class="fad fa-pepper-hot fa-fw fa-3x"></i>
                        <h3 class="mb-0 ml-3">Spice Rack</h3>
                    </div>
                </div>
            </a>

            <a routerLink="/shopping-list" class="col col-md-6 col-xl-4">
                <div class="bystro-menu-item d-flex bg-white shadow-sm rounded">
                    <div class="d-flex align-items-center px-2">
                        <i class="fad fa-shopping-basket fa-fw fa-3x"></i>
                        <h3 class="mb-0 ml-3">Shopping List</h3>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>