<h1>Create Recipe</h1>
<form #userForm="ngForm">
    <hr/>
    <div class = "form-group pt-2">
        <label>Recipe Name:</label>
        <input class="form-control" type="text" name="recipeName" [(ngModel)]="recipeName">
    </div>

    <!--Input Ingredients-->
    <div class="form-group mt-3">
        <table>
            <tr>
                <th class="col">Ingredient</th>
                <th class="col">Quantity</th>
            </tr>
            <tr>
                <th><input type="text" class="form-control col" name="ingName" [(ngModel)]="ingName"/></th>
                <th><input type="text" class="form-control col" name="ingQuantity" [(ngModel)]="ingQuantity"/></th>
            </tr>
            <tr>
                <button class="btn btn-primary d-block" (click)="saveIngredients(ingName,ingQuantity)">Add</button>
            </tr>
        </table>
        <ul *ngFor="let ingredient of recipeIngs; let i = index">
            <li>
                {{ingredient.name}}-({{ingredient.quantity}})
                <span class="text danger pl-3" (click)="removeIngredient(i)">
                    <i class="fal fa-times"></i>
                </span>
            </li>
        </ul>
    </div>

    <!--Input Instructions-->
    <div class = "form-group">
        <label>Instructions:</label>

        <input type="text" class="form-control" name="OneInst" [(ngModel)]="OneInst"/>
        <button class="btn btn-primary d-block" (click)="instructionsToArray(OneInst);">Add</button>

        <ol class="mt-2"><li *ngFor="let instruction of instructs">
                {{instruction}}
                <span class="text danger pl-3" (click)="removeInstruction(instruction)">
                    <i class="fal fa-times"></i>
                </span>
            </li>
        </ol>
    </div>

    <div class = "form-group">
        <label class="mt-2">Cook Time(minutes):</label>
        <input class="form-control" type="number" name="cookTime" [(ngModel)]="cookTime">

        <label class="mt-2">Preparation Time(minutes):</label>
        <input class="form-control" type="number" name="prepTime" [(ngModel)]="prepTime">

        <label class="mt-2">Servings:</label>
        <input class="form-control" type="number" name="servings" [(ngModel)]="servings">
    </div>

    <a class="btn btn-primary d-block mt-2" routerLink="/recipe/view-added-recipe" (click)="saveCustomRecipe()">Submit</a>
    <a class="btn btn-primary d-block mb-5 mt-2" routerLink="/recipe/view-added-recipe">Back</a>
</form>